parameters:
    level: 8

    paths:
        - app

    # Views are not "PHP source code" for static analysis
    excludePaths:
        - app/Views
        - app/Config
        - app/Database/Seeds

    # So that PHPStan knows the basic CI4 helper functions (view(), esc(), service(), base_url(), ...)
    bootstrapFiles:
        - vendor/codeigniter4/framework/system/Common.php
        - app/Common.php